.titlee{
    font-size: 45px;
    position: relative;
    margin: 50px;
    margin-top: 150px;
}

.titlee::before{
    content: "    ";
    position: absolute;
    background-color:#722323;
    width: 50px;
    height: 7px;
    bottom: 0;
}
.dest{
    margin: 0px;
    min-width: 420px;
    height: 420px;
    position: relative;
    background-size: cover;
    margin-left: 5px;
}

.destination{
    margin: 20px;
    min-height: 300px;
    display: flex;
    flex: 1;
}

.dest1{
    background-image: url("https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/budapest.jpg?raw=true");
   
}

.dest2{
    background-image: url("https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/lisbonne.jpg?raw=true");
    
}
.dest3{
    background-image: url("https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/pragues.jpg?raw=true");
    
}
.dest4{
    background-image: url("https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/seoul.jpg?raw=true");
    
}
.dest5{
    background-image: url("..https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/shanghai.jpg?raw=true");
  
}
.dest6{
    background-image: url("https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/tokyo.jpg?raw=true");
    
}
.dest7{
    background-image: url("..https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/le_caire.jpg?raw=true");
   
}
.dest8{
    background-image: url("https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/casablanca.jpg?raw=true");
   
}
.dest9{
    background-image: url("https://github.com/benjamindojo/site/blob/a36a34a8de4d17bd99b61c81c427e94f4326d2d5/images/le_cap.jpg?raw=true");
    
}
.dest-features{
    background-color:#722323;
    color: white;
    min-height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px;
    padding-left: 15px;
    max-width: fit-content;
    min-width: 125px;
    
}
.dest-price{
    font-size: 15px;
}
.dest-name{
    font-size: 30px;
}
